<?xml version='1.0' encoding='UTF-8'?>
<?define ProductVersion = "1.9.0"?>
<?define ProductUpgradeCode = "3692e538-093e-452d-9957-c83561235f72"?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='Affinity Smokeview Lua Addons'
        Id='*'
        UpgradeCode="$(var.ProductUpgradeCode)"
        Language='1033'
        Version='$(var.ProductVersion)'
        Manufacturer='Smokeview'>
        <Package Id='*'
            InstallScope='perUser'
            InstallPrivileges='limited'
            Keywords='Installer'
            Description="Affinity Smokeview Lua Addons Installer"
            Comments='A modified smokeview with the ability to run Lua scripts.'
            Manufacturer='Smokeview'
            InstallerVersion='200'
            Languages='1033'
            Platform='x64'
            Compressed='yes' />
        <!-- <Condition Message="You need to be an administrator to install this
        product.">Privileged</Condition> -->
        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' />
        <Property Id='DiskPrompt' Value="Affinity Smokeview Lua Addons Installer" />
        <Upgrade Id="$(var.ProductUpgradeCode)">
            <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes"
                Property="NEWERVERSIONDETECTED" />
            <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes"
                IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
        </Upgrade>
        <Condition Message="A newer version of this software is already installed.">NOT
            NEWERVERSIONDETECTED</Condition>
        <Property Id="ALLUSERS" Secure="yes" Value="2" />
        <Property Id="MSIINSTALLPERUSER" Secure="yes" Value="1" />
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='Fireng' Name='Fireng'>
                    <Directory Id='INSTALLDIR' Name='Smokeview Lua'>
                        <Directory Id='BINDIR' Name='bin'>
                            <Component Id='CommonRender' Guid='4292e7fd-c472-4591-a027-58fc94a4db88'
                                Win64="yes">
                                <File Id='affinity' Name='affinity.lua'
                                    Source='affinity.lua'
                                    KeyPath='yes'></File>
                            </Component>
                            <Directory Id='CBDIR' Name='colorbars'>
                                <Component Id='Colorbars'
                                    Guid='2c80829c-c939-405b-9e1f-a49332c6654d'
                                    Win64="yes">
                                    <File Id='AFAC' Name='AFAC.csv'
                                        Source='AFAC.csv' KeyPath='yes'></File>
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallValidate" />
        </InstallExecuteSequence>
        <Feature Id='SMVLuaFeature' Level='1'>
            <ComponentRef Id='CommonRender' />
            <ComponentRef Id='Colorbars' />
        </Feature>
    </Product>
</Wix>
