<?xml version='1.0' encoding='UTF-8'?>
<?define ProductVersion = "1.21.3"?>
<?define ProductUpgradeCode = "1940d8a1-c842-442f-bf5d-00a570219bdb"?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='Smokeview Lua'
        Id='*'
        UpgradeCode="$(var.ProductUpgradeCode)"
        Language='1033'
        Version='$(var.ProductVersion)'
        Manufacturer='Smokeview'>
        <Package Id='*'
            InstallScope='perUser'
            InstallPrivileges='limited'
            Keywords='Installer'
            Description="Smokeview Lua Installer"
            Comments='A modified smokeview with the ability to run Lua scripts.'
            Manufacturer='Smokeview'
            InstallerVersion='200'
            Languages='1033'
            Platform='x64'
            Compressed='yes' />
        <!-- <Condition Message="You need to be an administrator to install this
        product.">Privileged</Condition> -->
        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' />
        <Property Id='DiskPrompt' Value="Smokeview Lua Installer" />
        <Upgrade Id="$(var.ProductUpgradeCode)">
            <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes"
                Property="NEWERVERSIONDETECTED" />
            <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes"
                IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
        </Upgrade>
        <Condition Message="A newer version of this software is already installed.">NOT
            NEWERVERSIONDETECTED</Condition>
        <Property Id="ALLUSERS" Secure="yes" Value="2" />
        <Property Id="MSIINSTALLPERUSER" Secure="yes" Value="1" />
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='Fireng' Name='Fireng'>
                    <Directory Id='INSTALLDIR' Name='Smokeview Lua'>
                        <Component Id='SMVLuaScript' Guid='69f8aba5-7eca-44e8-8319-9fd23d71af9b'
                            Win64="yes">
                            <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="yes"
                                Part="last" Action="set" System="no" />
                            <File Id='SMVLuaScriptCMD' Name='smvlua.cmd' Source='smvlua.cmd'
                                KeyPath='yes'>
                            </File>
                            <File Id='SMVQScriptCMD' Name='smvq.cmd' Source='smvq.cmd'>
                            </File>
                            <File Name='pthreadVC3.dll' Source='dist/pthreadVC3.dll'> </File>
                            <File Name='json-c.dll' Source='dist/json-c.dll'> </File>
                        </Component>
                        <Directory Id='BINDIR' Name='bin'>
                            <Component Id='SMVQComponent'
                                Guid='c84dc251-0843-4520-95da-1aa889ebd874' Win64="yes">
                                <Environment Id="SMVQ_PATH" Name="SMVQ_PATH"
                                    Value="[BINDIR]\smvq.exe"
                                    Permanent="no" Part="last" Action="set" System="no" />
                                <File Id='SMVQEXE' Name='smvq.exe'
                                    Source='dist/smvq.exe' KeyPath='yes'>
                                </File>
                            </Component>
                            <Component Id='SMVLuaComponent'
                                Guid='767754dc-8fe5-4cbf-920e-6051e321312f' Win64="yes">
                                <Environment Id="SMOKEVIEW_PATH" Name="SMOKEVIEW_PATH"
                                    Value="[BINDIR]\smvlua.exe"
                                    Permanent="no" Part="last" Action="set" System="no" />
                                <File Id='SMVLuaEXE' Name='smvlua.exe'
                                    Source='dist/smokeview.exe' KeyPath='yes'>
                                </File>
                                <File Name='jsonrpc.dll' Source='dist/jsonrpc.dll'> </File>
                                <File Name='glew32.dll' Source='dist/glew32.dll'> </File>
                                <File Name='zlib1.dll' Source='dist/zlib1.dll'> </File>
                                <File Name='libgd.dll' Source='dist/libgd.dll'> </File>
                                <File Name='freeglut.dll' Source='dist/freeglut.dll'> </File>
                                <File Name='jpeg62.dll' Source='dist/jpeg62.dll'> </File>
                                <File Name='glut32.dll' Source='dist/glut32.dll'> </File>
                                <File Name='libpng16.dll' Source='dist/libpng16.dll'>
                                </File>
                                <File Name='getopt.dll' Source='dist/getopt.dll'> </File>
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallValidate" />
        </InstallExecuteSequence>
        <Feature Id='SMVLuaFeature' Level='1'>
            <ComponentRef Id='SMVLuaScript' />
            <ComponentRef Id='SMVLuaComponent' />
            <ComponentRef Id='SMVQComponent' />
        </Feature>
    </Product>
</Wix>
